* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
body {
    background-image: url('../IMG/FondoTeCuidoSecurity.jpg');
}
nav {
    max-width: max-content;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 20px; 
    margin-bottom: 30px; 
    position: relative; 
    box-shadow: 7px 13px 37px rgb(220, 200, 180);
    background-color: white; /* Cambiado el color de fondo */
	padding: 5px 20px; /* Añadido espacio alrededor */
	border-radius: 5px; /* Añadidos bordes redondeados */
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
}

.menu-horizontal >li:hover{
    background-color: #0e7cc2; /* Cambiado el color de fondo */
	padding: 5px 20px; /* Añadido espacio alrededor */
	border-radius: 5px; /* Añadidos bordes redondeados */
}
    
  
.form-register {
    width: 400px;
    background: white;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 7px 13px 37px rgb(200, 180, 220);
    border:solid blue;
}
  
.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    color: blue;
}
  
.controls {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid blue;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
}
  
.form-register p {
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    color: blue;
}
  
p{
    font-size: 14px;
    color: black;
}

.form-register a {
    color: blue;
    text-decoration: none;
}

  
.form-register a:hover {
    color: blue;
    text-decoration: underline;
}
  
.form-register .botons {
    width: 100%;
    background: blue;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

