*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
	background-image: url('../IMG/FondoTeCuidoSecurity.jpg');
}

nav {
    max-width: max-content;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 20px; 
    margin-bottom: 30px; 
    position: relative;  
    box-shadow: 7px 13px 37px rgb(220, 200, 180);
	background-color: white; /* Cambiado el color de fondo */
	padding: 5px 20px; /* Añadido espacio alrededor */
	border-radius: 5px; /* Añadidos bordes redondeados */
}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: black;
	text-decoration: none;
}

.menu-horizontal >li:hover a{
	background-color: #085066; 
	border-radius: 5px; 
	color: white;
}
  
.titulo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px; 
    background-color: #ffffff; 
    color: #333; 
    box-shadow: 7px 13px 37px rgb(220, 200, 180);
    width: fit-content; 
    margin: auto; 
    line-height: 40px; 
    border-radius: 5px;
}

/* Estilos de la galería */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}



.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.imagen {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Cambié el color de la sombra a negro */
    transition: transform 0.3s ease;
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.imagen:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Cambié el color de la sombra a negro */
}

.descripcion {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Cambié el color de fondo de la descripción a blanco */
    color: black; /* Cambié el color del texto a negro */
    padding: 10px;
    font-size: 14px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.imagen:hover .descripcion {
    background-color: #085066;
    opacity: 1;
    color: white;
    
}

/* Estilos del footer */
footer {

	background-color: rgba(255, 255, 255, 0.479); 
    color: #085066;
    text-align: center;
    padding: 20px 0;
    display: flex; /* Utilizando flexbox */
    justify-content: space-between; /* Distribuye los elementos en los extremos */
    align-items: center; /* Centra verticalmente los elementos */
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.info img {
    width: 80px; /* Ajusta el tamaño del logo */
    margin-right: 20px;
	margin-left: 20px; /* Ajusta el margen izquierdo */
}

.contacto h3 {
    margin-bottom: 5px;
    color: #085066; /* Texto blanco */
    font-size: 15px; /* Tamaño del texto ajustado */
}

.redes h3 {
    color: #085066; /* Texto blanco */
    margin-bottom: 20px; /* Espacio entre el texto y los iconos */
	font-size: 15px; /* Tamaño del texto ajustado */
	margin-right: 20px;
}

.redes {
    display: flex;
    align-items: center; /* Centra horizontalmente los elementos */
}

.redes a {
    margin: 15px 0; /* Añade espacio vertical entre los iconos */
	margin-right: 15px;
    display: inline-block;
}

.redes img {
    width: 40px;
    height: 40px;
}