* {
    margin: 0;
    padding: 0;        
    box-sizing: border-box;
}
body{
    background-image: url('../IMG/FondoTeCuidoSecurity.jpg');
}
nav {
    max-width: 8%;
    margin: auto;
    background-color: white;
    font-size: 20px;
    margin-top: 20px; 
    margin-bottom: 30px; 
    position: relative; 
    box-shadow: 7px 13px 37px rgb(220, 200, 180);
	padding: 5px 10px; 	
    border-radius: 5px; 
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal:hover .boton-inicio a{
    background-color: #085066;
    color: white!important;

}
.menu-horizontal >li>a{
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}
.menu-horizontal >li:hover{
	background-color: #085066; 
	border-radius: 5px; 
}
.box{
    height: 80px;
    max-width: 250px;
    margin: auto;
    background-color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    box-shadow: 7px 13px 37px rgb(220, 200, 180);
    padding: 25px 35px;
    margin-bottom: 20px;
    border: solid #085066;
}
.text{
    font-size: 25px;
    color: black;
    margin-bottom: 20px;
}
.box-parrafo{
    width: 400px;
    height: 275px;
    background: white;
    margin: auto;
    box-shadow: 7px 13px 37px;
    padding: 20px 30px;
    border: solid #085066;
    color: rgb(220, 200, 180);
}
.text-parrafo{
    font-size: 17px;
    color: black;
}