* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
	background-image: url('../IMG/fondoTeCuidoSecurity.jpg');
	background-size: cover;
}

nav {
	max-width: 85%; /* Cambiado a 100% */
	margin: auto;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: #085066; /* Cambiado el color de fondo */
	padding: 5px 20px; /* Añadido espacio alrededor */
	border-radius: 5px; /* Añadidos bordes redondeados */
}

.menu-horizontal {
	list-style: none;
	display: flex;
	justify-content: space-between; /* Cambiado a 'space-between' para distribuir los elementos */
}

.menu-horizontal > li > a {
	display: block;
	padding: 15px 15px;
	color: white;
	text-decoration: none;
	border-radius: 5px; /* Añadidos bordes redondeados */
	transition: background-color 0.3s; /* Añadida transición de color de fondo */
}



.menu-vertical {
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
	border-radius: 5px; /* Añadidos bordes redondeados */
}

.menu-horizontal li:hover .menu-vertical {
	display: block;
}
.menu-vertical li a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 20px; /* Ajustado el espacio alrededor */
	border-radius: 5px; /* Añadidos bordes redondeados */
}

.container-fluid {
	box-shadow: 7px 13px 37px rgb(220, 200, 180);
	margin-top: 10px; 
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%; /* Cambiado a 100% */
	padding: 10px; /* Añadido espacio alrededor */
	border-radius: 5px; /* Añadidos bordes redondeados */
	background-color: #fff; /* Cambiado el color de fondo */
}

.navbar-brand ,
.nav-link,
.dropdown-item{
	font-size: 20px;
	color: black!important;
	padding: 10px 20px;
	border-radius: 7px;
	border-color: #085066!important;
	transition: background-color 0.3s;
}
.dropdown-item a [href="inicoSesion.html"]{
	border-radius: 5px;
}
.navbar-brand:hover,
.nav-link:hover ,
.dropdown-item:hover{
	border-radius: 7px;
	background-color: #085066!important; /* Cambiado el color de fondo al pasar el ratón */
	color: white!important;
}

.navbar-nav {
	display: flex;
	align-items: center;
}

.nav-item {
	margin-right: 20px;
}

.navbar-brand:hover {
    color: white;
}

.dropdown-menu {
	background-color: transparent!important;
}
.dropdown-item{
	background-color: #fff!important;
	transition: background-color 0.3s;
	border-radius: 7px!important;
	display: flex;
	margin: 5px;
}


.form-control {
	width: 300px; /* Ajustado el ancho del campo de búsqueda */
}


.carousel-item img {
    max-width: 35%; /* Ajustado el ancho máximo de las imágenes */
    height: 300px; /* Altura automática para mantener la proporción */
    display: block; /* Asegurar que las imágenes sean elementos en línea */
    margin: auto; /* Centrar las imágenes horizontalmente */
}

.carousel-control-prev,
.carousel-control-next {
    width: auto; /* Ancho automático para los controles */
    color: #fff; /* Color de los iconos de control */
    background: none; /* Fondo transparente para los controles */
    border: none; /* Sin bordes para los controles */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo para los iconos de control */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Cambio de color de fondo al pasar el ratón */
}

.d-flex{
	margin-left: -20px;
}
.imagen{
	display: flex;

}
footer{
	color: white;
	background-color:#085066;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

footer >p{
	text-align: right;
}

.containerimage{
	display: flex;
	flex-wrap: wrap;
}
.containerimage img{
	flex-grow: 1;
	flex-basis: 200;
	max-height: 300px;
	max-width: 100%;
}
.btn-outline-success{
	border-color: #085066!important;
	color: black!important;
}
.btn-outline-success:hover{
	background-color: #085066!important;
	color: #fff!important;
}
.navbar-brand-image{
	margin-top: -25px;
}
.mb-0{
	margin-top: 5px;
	margin-left: 5px;
	font-size: 18px;
	color: #000;
	font-weight: bold;
}
.navbar-brand{
	margin-bottom: 5px;
}
.p_index{
	padding-top: 25px;
	margin-top: 25px;
	margin-left: 150px;
	margin-right: 150px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #085066;
	color: white;
	padding-left: 120px;
	border-radius: 15px;
}
